<% @characters.each do |c| %>
  <p>
    <strong>Name: </strong>
    <%= c.name %>
    <br />
    <strong>Quote: </strong>
    <%= c.quote %>
    <br />
    <%= link_to 'Details', detail_path(c) %>
  </p>
<% end %>
